
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.219);
}


#header{
    display: grid;
    grid-template-columns: auto auto;
    background-color: black;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    align-content: center;
    position: sticky;
    top: 0px;
}

.logoz{
    animation: yees 10s linear infinite;
    font-size: xx-large;
}

h2{ 
    margin-bottom: 10px;
}

#img2{
    transform: scale(0.5);
}




ul {
    display: inline-flex;
    justify-content: space-around;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    
    }

a:hover {
    text-decoration: underline;
    color: rgb(190, 128, 14);
    font-size: 20px;
    font-weight: 900;
}

#container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 150px;
    padding-right: 150px;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    padding-bottom: 50px;
    padding-top: 30px;
}

#img1 {
    width: 500px;
    border: yellow 1px solid;
}

.sign1 {
    border: 1px solid rgb(236, 238, 241);
    background-color: rgb(43, 122, 213);
    padding: 3px 10px;
    font-weight: 500;
    border-radius: 7px;
    color: white;
    margin-top: 30px;
}

.sign1:hover {
    background-color: rgb(184, 14, 190);
    color: rgb(0, 0, 0);
    transform: scale(1, 1.5);
    font-weight: 600;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 5px;
    background-color: rgba(189, 33, 33, 0.373);
    margin-top: 0;

}

    .hed2 {
        text-align: center;
        font-weight: 900;
        color: blue;
        
        background-color: rgba(189, 33, 33, 0.373);
        margin-bottom: 0;
    }
    .hed2:hover{
        text-decoration-color: orange;
    }

.card {
    max-width: 216px;


    
}

.card img {
    padding-bottom: 10px;
}

#testimony {
   
    padding-left: 150px;
    padding-right: 200px;

    padding-top: 25px;
    padding-bottom: 50px;
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    
}

 h3 {
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 5px;
}

h5 {
    position: relative;
  padding-left: 800px;
}

.lasty {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgba(0, 0, 255, 0.662);
    padding: 50px;
    margin: 50px 200px 50px 150px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}

footer {
    background-color: rgba(0, 0, 0, 0.827);
    color: white;
    text-align: center;
    padding-bottom: 10px;
}





@keyframes yees {
    25%{color: rgb(24, 234, 24);}
    50%{color: red;}
    75%{color: blue;}
    100%{color: black;}
    
}
@media screen and (max-width:550px) {
  *{
  box-sizing: border-box ;
}
.logoz{
  text-align:center;
}
ul{
  display: inline-flex;
  list-style-type: none;
  gap:6vw;
}
#header{
  position:sticky;
  top:0px;
  background: #000;
  color: #fff;
  padding-top: 0.1px;
}
.sign1{
  padding: 3px 3vw 3px 3vw;
  margin: 10px 1vw 30px 35%;
}
img{
  width: 100%;
}
.content h2{
  text-align:center;
}
.hed2{
  text-align:center;
}
footer{
  background:#4B4B4B;
  color: white;
  height: 2vh;
  text-align:center;
}
h5{
  text-align:right;
}
}